<svg width="200" height="200" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"  class="{{ classes|default:'w-6 h-6' }}" role="img" aria-label="{{ aria_label|default:'CheckTick icon' }}" title="{{ title|default:'CheckTick' }}">

  <rect x="5" y="4" width="11" height="15" rx="2" ry="2"
        stroke="var(--color-secondary)" stroke-width="1.2" fill="oklch(98% 0 0)" stroke-linecap="round" stroke-linejoin="round"/>

  <rect x="8" y="7" width="11" height="16" rx="2" ry="2"
        stroke="var(--color-secondary)" stroke-width="1.2" fill="oklch(98% 0 0)" stroke-linecap="round" stroke-linejoin="round"/>

  <line x1="10.5" y1="10.5" x2="16" y2="10.5"
        stroke="var(--color-secondary)" stroke-width="1.2" stroke-linecap="round"/>
  <line x1="10.5" y1="14.5" x2="16" y2="14.5"
        stroke="var(--color-secondary)" stroke-width="1.2" stroke-linecap="round"/>
  <line x1="10.5" y1="18.5" x2="12" y2="18.5"
        stroke="var(--color-accent)" stroke-width="1.2" stroke-linecap="round"/>
  <rect x="14" y="17.2" width="2.5" height="2.5" rx="0.5" ry="0.5"
        stroke="var(--color-accent)" stroke-width="0.7" fill="none" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M14.4 18.2 L15.2 19 L16.2 17.7"
        stroke="var(--color-accent)" stroke-width="0.7" fill="none" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
